<!DOCTYPE html>
<html>
<body>
<div ng-app="myApp">
	<div ng-controller="AvengersCtrl">
		<table>
			<!--
				search by name search.name 
				search by character search.character
			-->
			<input type="text" ng-model="search.$"/> 
			<tr ng-repeat="actor in avengers.cast | filter:search">
				<td>{{actor.name}}</td>
				<td>{{actor.character}}</td>
			</tr>
		</table>
	</div>
</div>
<script src="../angular.js" type="text/javascript"></script>
<script src="main.js" type="text/javascript"></script>
</body>
</html>